.form-container {
    display:block;
    width:80%;
    padding:7em 2em;
    margin: auto;
    border-radius: 0px;
    z-index: 10;
}
.fields{
    position: relative;
    padding-top: 1.5rem;
}
.alert {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 0.8s alertAnim forwards;
}

.button {
    color: #222;
    margin-top: 2rem;
    border-radius: 0px;
    width:25%;
    border-radius: 30px;
    float: right;
    background-color: #bbb;
}
img{
    display: inline-block;
    margin-bottom: 10px;
    height: 2em;
}
.h4 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    width: 100%;
    color:rgb(92, 90, 90);
    padding-top: 10px;
    border-radius: 5px;
}
.h3 {
    margin-bottom: 0.6rem;
    font-weight:bold;
    font-size: 2em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    width: 100%;
    color:#bbb;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: 400;
}
label {
    position: absolute;
    top: 0;
    color: #bbb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(20px);
    cursor: text;
}
input[type="email"], input[type="password"]{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-bottom: solid 1px #222;
    border-radius: 1px;
    height: auto;
    transition: border-color 0.3s;
    box-shadow: none;
    padding-left: 2px;
    padding-right: 0px;
    color: #111;
    cursor: text;
    background: rgba(0,0,0,0);
    font-size: 0.9em;
}
input[type="email"]:focus,input[type="password"]:focus{
    border-color: #bbb;
}
input.ng-valid.ng-touched {
    border-bottom: 1px solid #0067b8;
  }
 input.ng-invalid.ng-touched {
    border-bottom: 1px solid rgba(180, 24, 24, 0.5);
}
::placeholder{
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    color:rgba(0,0,0,0.6);
    cursor: text;
}